<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="Con" connectionString="workstation id=SamaAliaSchool.mssql.somee.com;packet size=4096;user id=samaaliaSchool_SQLLogin_1;pwd=nwskkd5npd;data source=SamaAliaSchool.mssql.somee.com;persist security info=False;initial catalog=SamaAliaSchool"
      providerName="System.Data.SqlClient" />
    <add name="SCHOOL_DEV.Properties.Settings.atallabanatConnectionString"
      connectionString="Data Source=ADMIN;Initial Catalog=atallabanat;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>