<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="Con" connectionString="Data Source=136.243.151.80\Jordan,49912;Initial Catalog=KzSchool;User ID=sa;Password=Jordan1981$A"
      providerName="System.Data.SqlClient" />
    <add name="SCHOOL_DEV.Properties.Settings.atallabanatConnectionString"
      connectionString="Data Source=136.243.151.80\Jordan,49912;Initial Catalog=KzSchool;User ID=sa;Password=Jordan1981$A"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>